App info
<br/>
<p>ID: <%= @data["id"] %></p>
<p>App Domain <%= @data["app_domains"] %></p>
<p>App name <%= @data["app_name"] %></p>
<p>Category <%= @data["category"] %></p>
<p>Photo <%= image_tag @data["photo_url"] %></p>
